body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #DDD;
}


